/* --------- Selector Button ----------*/

.selector_button{
    margin-top: 5px;
    max-width: 150px;
    min-width:150px;
    background-color: white;
    min-height: 190px;
    max-height: 190px;
    cursor: pointer;
}

.button_image{
    padding-top: 10px;
}

.button_name{
    font-family: 'MLBBLOCK';
    color: #041e42;
    font-size: 14px;
    margin-top:-0.25px;
}

.selector_button:hover{
    background:#F6F7DD; 
}

/* ---------- Mobile ----------- */
@media only screen and (max-width: 600px){
 
    /* ------- Selector Button Mobile--------*/
    .selector_button{
        margin-bottom: 40px;
        max-width: 150px;
        min-width:150px;
    }
}